.card {
  background: rgb(238, 243, 247);
  color: #222;
  width: 100%;
  max-width: 30rem;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3)
}

.image {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.cardBody {
  height: min-content;
  padding: 1rem;
  line-height: 1.6;
  font-size: 1.1rem;
  text-align: start;
  padding-top: 0;
  position: relative;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tourName {
  font-weight: 500;
}

.tourPrice {
  font-weight: 500;
  color: rgb(1, 117, 1);
}

.moreLess {
  color: rgb(0, 0, 161);
  cursor: pointer;
  font-weight: 500;
}

.moreLess:is(:hover, :focus) {
  color: rgb(0, 0, 83);
}