.card {
  background: rgb(238, 243, 247);
  color: #222;
  width: 100%;
  max-width: 30rem;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3)
}

.image {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.cardBody {
  height: min-content;
  padding: 1rem;
  line-height: 1.6;
  font-size: 1.1rem;
  text-align: start;
  padding-top: 0;
  position: relative;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tourName {
  font-size: 0.9rem;
}

.tourPrice {
  color: rgb(1, 117, 1);
}

.deleteBtn {
  display: block;
  background-color:rgb(252, 239, 239);
  color: maroon;
  border: none;
  outline: 2px solid rgba(128, 0, 0, 0.479);
  border-radius: 3px;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  position: relative;
  left: 70%;
}

.deleteBtn:is(:hover, :focus) {
  background-color: maroon;
  color: #fff;
}